@import "tailwindcss";
@plugin "@tailwindcss/typography";

@layer utilities {
  /* Hide scrollbar for Chrome, Safari, and Opera */
  .scrollbar-none::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

  /* Hide scrollbar for IE, Edge, and Firefox */
  .scrollbar-none {
    scrollbar-width: none;
  }
}